{% extends 'Recherche/base.html' %}

{% block content %}
<hr>
<h1 class="intro-text text-center">{{ user_nom }} {{user_prenom}}</h1>
<hr class="detail-separator">
<div class="col-md-6">
  <h2 class="text-center user_nom">Identité:</h2>
  <h3 >{{ user_categorie}}</h3>
  <h3 >{{ user_nom }} {{user_prenom}}</h3> 
  <h2 class="text-center user_nom">Quelques stats:</h2>
  <h3 class="text-center user_nom">Mails envoyés:</h3>
  <p>Interne:  {{user_s_in}}</p>
  <p>Externe:  {{user_s_out}}</p>
  <p>Total:  {{user_s_tot}}</p>
  <p>Ratio In/Tot:  {{ratio_s_i_tot}}%</p>
  <h3 class="text-center user_nom">Mails reçu:</h3>
  <p>Interne:  {{user_r_in}}</p>
  <p>Externe:  {{user_r_out}}</p>
  <p>Total:  {{user_r_tot}}</p>
  <p>Ratio In/Tot:  {{ratio_r_i_tot}}%</p>
</div>
<div class="col-md-6">
  <div style="margin-bottom:45px">
    <h2 class="text-center user_nom">Addresse(s) email(s):</h2>
    {% for i in user_email %}
      <p>{{ i }}</p>
    {% endfor %}

    <h2 class="text-center user_nom">Contacts connus:</h2>
  {% if users_contact|length_is:"0" %}
  <div class="text-center">
    Un peu de sérieux voyons ! Personne ne porte ce nom ici !
  </div>

{% else %}
  {% for user in user_contact %}
      <div class="col-sm-4 text-center">
          <a href="{% url 'Recherche:detail' user_id=user.id %}">
            <img class="img-responsive" src="{{ album.picture }}" alt="{{ user.categorie }}">
          </a>
          <h3><a href="{% url 'Recherche:detail' user_id=user.id %}">{{ user.prenom }} {{ user.nom }}</a></h3>
      </div>
      {% if forloop.counter|divisibleby:2 %}<div class="clearfix"></div>{% endif %}
  {% endfor %}
{% endif %}
{% if paginate %}
<div class="clearfix"></div>
<nav aria-label="">
  <ul class="pager">
    {% if user_contact.has_previous %}
        <li><a href="?page={{ user_contact.previous_page_number }}">Précédent</a></li>
    {% endif %}
    {% if user_contact.has_next %}
        <li><a href="?page={{ user_contact.next_page_number }}">Suivant</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}



</div>

{{time_rep}}

{% endblock %}
